body {
  margin: 0;
  font-family:'Noto Sans', sans-serif;
  background-color: #71ccca;
  color: #001f3f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: #001f3f;
}
